<h1>Secret Dashboard</h1>

<% @secrets.each do |secret| %> <p>
    <%=secret.content%>

    <% if @user == secret.user %>
        <form action = "/users/secrets/<%=secret.id%>/delete" method = "post">
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <input type = 'hidden' name = "_method" value = "delete">
            <input type = "submit" value = 'Delete Secret' >
        </form>
    <% end %>
<% end %>

